body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .container {
    width: 400px;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #c8e6c9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }

  .delete-btn {
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #b71c1c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #7f0000;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .logo {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  